.ruff_cache/*
.vscode/*
__pycache__/*
.ipynb_checkpoints/*
*.pyc
*.pyo
*.pyd
.ruff_cache/
build/*
dist/*
.eggs/*
build/
.vscode/
*.egg-info/
*__pycache__/
*/results/
*/results/*
.github/
site/
.cache/
.pytest_cache/
dist/
dev/
examples/advanced/pretraining/results/
.venv*
