.ruff_cache/*
.vscode/*
__pycache__/*
.ipynb_checkpoints/*
*.pyc
*.pyo
*.pyd
*.venv*
*.venv/
.ruff_cache/
build/*
dist/*
.eggs/*
build/
.vscode/
*.egg-info/
*__pycache__/
.venv_gpu/
.venv_gpu/*
*/results/
*/results/*
.github/
site/
.cache/
.pytest_cache/
dist/
dev/
examples/advanced/pretraining/results/